#top_nav{
	height: 40px;
	padding-left: 20px;
	padding-top: 5px;
	background-color: #444;
	font-size: 20px;
	color: white;
}


.nav-sidebar{
	background-color: #EEE;
	min-height: 1000px;
}

.nav_li{
	/*margin: 1px;*/
	border: solid white;
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;
}

.nav_li:hover{
	background-color: #428bca!important;
	color: white;
}

.nav_active{
	background-color: #428bca!important;
	color: white;
}

.nav_no_active{
	background-color: #DDD;
}